body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
  }
  /*
   * Formatting the header area
   */
  header {
    background-color: #d8b7bb;
    height: 100px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
  }
  header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #fff;
    float: center;
    text-align: center;
  }

  header img {
    width: auto;
    height: 100px;
  }

  /*
   * Centering the body content
   */
  .container {
    width: 1200px;
    margin: 0 auto;
  }
  div.home {
    padding: 10px 0 30px 0;
    background-color: #E6E6FA;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.about {
    padding: 10px 0 30px 0;
    background-color: #92b5e2;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
  }
  div.trombinoscope {
    display: flex;
    flex-wrap: wrap; /* Aligne les images sur plusieurs lignes si nécessaire */
    padding: 0px 20px 20px 20px;
    gap: 20px; /* Espace entre chaque photo */
    justify-content: left; /* Centre les éléments horizontalement */
    text-align: center;
  }
  div.personne p {
    margin-top: 5px;
    font-size: 1em;
    color: #333;
  }
  div.personne img {
    width: auto;
    height: 200px;
  }

  h2 {
    font-size: 3em;
    margin-top: 40px;
    text-align: center;
    letter-spacing: -2px;
  }
  h3 {
    font-size: 1.7em;
    font-weight: 100;
    margin-top: 30px;
    text-align: center;
    letter-spacing: -1px;
    color: #999;
  }
  .menu {
    float: right;
    margin-top: 8px;
  }
  .menu li {
    display: inline;
  }
  .menu li + li {
    margin-left: 35px;
  }
  .menu li a {
    color: #444;
    text-decoration: none;
  }
  .menu li a:hover {
    color: #923838;
    text-decoration: none;
  }